# doc: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 0
AccessModifierOffset: -4
NamespaceIndentation: All
BreakBeforeBraces: Custom
AllowShortFunctionsOnASingleLine: Inline
PointerAlignment: Left
IndentCaseLabels: true
BraceWrapping:
  AfterCaseLabel: true
  AfterEnum: false
  AfterStruct: false
  AfterClass: true
  SplitEmptyFunction: true
  AfterControlStatement: false
  AfterNamespace: true
  AfterFunction: true
  AfterUnion: true
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
  AfterControlStatement: Always